footer {
    background-color: black;
}

main {
    background-color: brown;
}

.bonito {
    font-family: 'Brush Script MT', cursive;
}

h1, h2, h3, h4, h5, h6, p {
    color: aliceblue;
}

.central {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border-color: aliceblue;
    background-color: aliceblue;
}

.nav-link {
    color: aliceblue;
    text-decoration: none;
}

.nav-link:hover {
    color: cornflowerblue;
}

a {
    color: aliceblue;
    text-decoration: none;
}

header {
    color: aliceblue;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.fila {
    display: flex;
    text-align: center;
    height: fit-content;
}

.smaller {
    width: 30px;
}

.nada {
    text-decoration: none;
    color: aliceblue;
}